 
<div class = "container big">
  <div class = "row">
    <div class = "col-md-8 red">
      <p>Jane</p>
      
    </div>
    <div class = "col-md-4 blue">
      <p>john</p>
    </div>
  </div>
  
  <div class = "row">
     <% @sections.each do |section| %>
    <div class = "col-md-3 yellow">
     <h3> <%= link_to section.name, section_path(section) %></h3>
    </div>
    <% end %>
  </div> 
</div>

