<div class="center jumbotron">
  <h1>Welcome to Modern Architecture Styles</h1>
  <% if logged_in? %>
    <p>Welcome back, click on the home link on the menu bar and 
    choose a category to view it's articles or you can even create your own article</p>
  <% else %>
    <h2>Are you a New User? Please Sign Up Below</h2
    <%= render 'form', user: @user %>
  <% end %>
  <%#= link_to image_tag("landpage.jpg", alt: "Landing page image") %>
  <%= link_to image_tag("example-scene-2.svg", alt: "Landing page image") %>
</div>

