<!--<h1>New User</h1>-->



<div class="center jumbotron">
  <h1>Welcome to Modern Architecture Styles</h1>
  <h2>Are you a New User? Please Sign Up Below</h2>
  <%#= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
  <%= render 'form', user: @user %>
  <%= link_to 'Back', users_path %>
</div>
<%#= link_to image_tag("", alt: "Rails logo"), 'http://rubyonrails.org/' %>
