<h1><%= @section.name %></h1>
<p>List of all articles under this section</p>
<%= render partial: 'sections/article', collection: @section.articles.ordered_by_most_recent %>
<%= link_to "<< Back to sections List", current_user %>
<h3>Post an Article</h3>
<p>(article form will go here)</p>
<%= link_to 'New Article', new_article_path %>
