<%#= @section.name %>
<div class = "container" id = "">
  <div class = "row row-no-gutters">
    <%= render partial: 'sections/article', collection: @section.articles.ordered_by_most_recent %>
  </div>
</div>
<%#= link_to "<< Back to sections List", current_user %>
