<footer class="footer">
  <small>
    <a href="#">copyright 2020</a><a href="#">architecture</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home", "#" %></li>
      <li><%= link_to "Write an Article", "#" %></li>
    </ul>
  </nav>
</footer>
