<footer class="footer" id = "footer">
  
  <%= link_to "Architecture", "#" %>
  <small>
    <nav>
      <ul>
        <li><%= link_to "Privacy Policy", "#" %></li>
        <li><%= link_to "Terms & Conditions", "#" %></li>
        <li><%= link_to "Copyright 2020", "#" %> Architecture</li>
      </ul>
    </nav>
  </small>
  <div>
    <a href="#">Connect with us: 
      <i class="fab fa-twitter"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-facebook-f"></i>
    </a>
  </div>
</footer>
